// colors
silver = #fafafc
grey = #f0f0f7
black = #162232
blue = #1e90ff
green = #27ae60

// fonts
ssp = 'Source Sans Pro', sans-serif

// random
logoWidth = 239px
mobilePadding = 20px

// shadow
shadow = 0 20px 40px 0 rgba(235,235,243,0.4)
blueShadow = 0 20px 40px 0 rgba(2, 155, 242, 0.25)
heavyShadow = 0 24px 32px rgba(0,0,0,0.15)

mobileBreakpoint = 1325

headerHeight = 80px
