.btns-wrapper
	.btn
		&:not(:last-child)
			margin-right 15px

.btn
	font-weight 600
	padding-left 30px
	padding-right 30px
	// padding-bottom .5rem

	&.btn-primary
		background blue
		border-color blue
		box-shadow 0 5px 10px 0 rgba(0,0,0,.15)

	&.btn-secondary
		border-color blue
		background transparent
		color blue
